@using Data.Models
@model List<Customer>

@{
}

<div class="container p3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Customers</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Customer" asp-action="Add" class="btn btn-primary">
                <i class="bi bi-patch-plus"></i> Add Customer
            </a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Customer Id
            </th>
            <th>
                Name
            </th>
            <th>
                E-mail
            </th>
            <th>
                Password
            </th>
            <th>
                Address
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>
                    @obj.CustomerID
                </td>
                <td>
                    @obj.Name
                </td>
                <td>
                    @obj.Email
                </td>
                <td>
                    @obj.Password
                </td>
                <td>
                    @obj.Address
                </td>
                <td>
                    @obj.PhoneNumber
                </td>
                <td>
                    <div class="w-70 btn-group" role="group">
                        @*asp-route-.. can be different, id is my parameter*@
                        <a asp-controller="Customer" asp-action="Update" asp-route-id="@obj.Id"
                       class="btn btn-primary mx-2"> <i class="bi bi-pen"></i> Edit</a>
                    </div>
                    <div class="w-70 btn-group" role="group">
                        @*asp-route-.. can be different, id is my parameter*@
                        <a asp-controller="Customer" asp-action="Delete" asp-route-id="@obj.Id"
                       class="btn btn-danger mx-2"> <i class="bi bi-trash3-fill"></i> Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table> 